.intro-btn {
    --background: var(--background-button);
    --color: var(--text-color-primary);
    border-radius: 8px;
    text-align: center;
    width: 100%;
}
.intro-content {
    --background: var(--background-color);
    color: var(--text-color-primary);
}
.intro-content ion-title {
    color: var(--text-color-primary);
}
ng-icon {
  width: 24px;
  height: 24px;
  color: white;
}