<ion-split-pane contentId="main-content">
  <ion-menu menuId="end" contentId="main-content" side="end" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-icon name="close-outline"></ion-icon>
        </ion-menu-toggle>

        <ion-title>Menu</ion-title>
        <ion-icon name="enter-outline" (click)="logout()" class="ion-float-right menu-close"></ion-icon>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/intro">
          <ion-label>Ver la intro</ion-label>
        </ion-item>
      </ion-list>


    </ion-content> 
  </ion-menu>
  <div id="main-content">
    <router-outlet></router-outlet>
  </div>
</ion-split-pane>