<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleTheme()" fill="clear">
        <ng-icon [name]="isDarkMode() ? 'feather-sun' : 'feather-moon'"></ng-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
       <img class="logo-music" src="../../assets/images/logoPcaMusic.png" alt="pcaMusic" />
    </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="end"></ion-menu-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-content">
  <ion-card class="welcome-card">
    <ion-card-header></ion-card-header>
    <ion-card-title class="ion-text-center">
      Bienvenido a pcaMusic
    </ion-card-title>
    <ion-card-subtitle class="ion-text-center">
      Tu destino para descubrir música nueva y emocionante
    </ion-card-subtitle>
    <ion-card-content>
      Descubre las últimas tendencias musicales, encuentra nuevos artistas y disfruta de tus canciones favoritas.
    </ion-card-content>
  </ion-card>

      <div class="swiper-wrapper-fix">
      <swiper-container
        pagination="true"
        loop="true"
        slides-per-view="1"
        autoplay="true">
        <swiper-slide *ngFor="let album of albums; let i = index" [style.background]="getGradient(i)" (click)="showSongs(album.id)">
          <div class="slide-content">
            <h2>{{ album.name }}</h2>
            <img [src]="album.image" alt="{{ album.title }}" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  <ion-button expand="block" class="ion-intro" (click)="goIntro()">Ir a la intro</ion-button>
</ion-content>

<div class="footer-fake" color="primary">
   <ion-grid>
    <ion-row>
        <ion-col class="ion-text-start">{{ parseTime(song.currentTime) || "0:00"}}</ion-col>
        <ion-col class="ion-text-end">{{ parseTime(song.duration) || "0:00"}}</ion-col>
    </ion-row>
   </ion-grid>
   <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
   <ion-grid>
    <ion-row>
        <ion-col>
            <ion-icon color="primary" name="heart" class="ion-text-start"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-text class="name-song" color="primary">{{song.name || ""}}</ion-text>
        </ion-col>
        <ion-col class="ion-text-end">
            <ion-icon color="primary" name="play" (click)="play()" *ngIf="!song.playing"></ion-icon>
            <ion-icon color="primary" name="pause" (click)="pause()" *ngIf="song.playing"></ion-icon>
        </ion-col>
    </ion-row>
   </ion-grid>
  </div>