<ion-header>
  <ion-toolbar>
    <ion-title>
      PcaMusic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Tarjeta de bienvenida con estilos adaptativos -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bienvenido a PcaMusic</ion-card-title>
      <ion-card-subtitle>Tu música, tu estilo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Descubre las últimas tendencias musicales, encuentra nuevos artistas y disfruta de tus canciones favoritas. 
      Explora nuestras listas de reproducción curadas y deja que la música te lleve en un viaje único.

          <ion-button (click)="toggleTheme()" fill="clear">
            {{isDarkMode() ? '☀️' : '🌑'}}
          </ion-button>
    </ion-card-content>
  </ion-card>

  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    autoplay="true">
  
    <swiper-slide *ngFor="let genre of genres; let i = index" [style.background]="getGradient(i)">
      <div class="slide-content">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" alt="{{ genre.title }}" />
        <p>{{genre.description}}</p>
      </div>
    </swiper-slide>

  </swiper-container>
  <ion-button expand="block" class="ion-intro" (click)="goIntro()">Ir a la intro</ion-button>
</ion-content>
